@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

body{
    background-image: url(../images/home-bg.jpg);
    background-size:cover;
    background-position:center;
    background-position: fixed;
    background-repeat: no-repeat;
    
     
     height:100%;
     border-radius: 20px;
}
/* .container{
  margin-top: -14rem;
} */
#form{
  background-color: #000;
  /* height: 82vh; */
  height: 85vh;
  line-height: 1.7;
  width: 80vw;
  margin: 0rem -10rem;
  padding: 45px;
  padding-top: 20px;
  opacity: 0.7;
  line-height: 1.7;
  border-radius: 10px
}
#form h3{
    border-bottom: 2px solid #3399ff;
    width:210px;
    padding: 5px;
}
::placeholder{
    color:#fff
}
#input #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input2 #input-group{
    width:195px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input3 #input-group{
    margin-left: 50px;
}
#input4 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input4 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input5 h3{
    border-bottom: 2px solid #3399ff;
    width:220px;
    padding: 5px;
}
#input6 #input-group{
    width:300px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
#input6 #input-group1{
    width:615px;
    margin:5px;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    background: transparent;
    color:#fff
}
.form-group{
    padding: 6em;
    padding-top: 7.2em;
}

.heading span {
    color: orange;
    font-size: 2rem;
    font-family: "Sofia",sans-serif;
  }

  .offers{
    color: orange;
    font-size: 1.2rem;
   
    margin-bottom: 2rem;
  
  }
  .offers span{
    margin: 0px 15px;
    font-family: "Sofia",sans-serif;
  }

  .offers span a{
    text-decoration: none;
    color: orange;
  }

  .offers span:hover{
    border-bottom: 3px solid orange;
  }

  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #222;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 1.5rem 9%;
  }
  
  .header .navbar a {
    font-size: 1.2rem;
    color: #aaa;
    display: inline-block;
    margin: 0 1rem;
  }
  
  .header .navbar a:hover {
    color:orange;
  }
  
  .header .btn {
    margin-top: 0;
  }
  
  .logo {
    
    font-size: 1.5rem;
    color: #fff;
    font-weight: bolder;
    
  }
  .logo:hover{
    color:orange;
  }
  
  .logo i{
    color: orange;
    padding-right: .5rem;
    height: 1.2em;
    border-radius: 2em
  }

  @media (max-width: 1355px) {
    html {
      font-size: 50%;
    }
    #form{
      background-color: #000;
      background-size: cover;
      line-height: 1.5;
      width: 50vw;
      margin: auto;
      padding: 20px;
      padding-top: 20px;
      opacity: 0.7;
      line-height: 1.7;
      border-radius: 20px;
  }
  body{
    background-image: url(../images/home-bg.jpg);
    background-size:cover;
    background-position:center;
    background-position: fixed;
    background-repeat: no-repeat;
    
     height: 712px;
     border-radius: 20px;
}
  }

  @media (max-width: 800px) {
    html {
      font-size: 50%;
    }
    #form{
      background-color: #000;
      background-size: cover;
      line-height: 1.5;
      width: 100ch;
      margin: auto;
      padding: 20px;
      padding-top: 20px;
      opacity: 0.7;
      line-height: 1.7;
      border-radius: 20px;
  }
  body{
    background-image: url(../images/home-bg.jpg);
    background-size:cover;
    height: 100%;
    overflow-wrap: normal;
    background-position:center;
    background-position: fixed;
    background-repeat: no-repeat;
    
     
     border-radius: 20px;
}
  }
  
  
  .template{
    z-index: -1;
    width: 80vw;
    height: 21rem;
    padding: 20px 46px;
    background-color: #000;
    border-radius: 10px;
    margin: 2em 7em;
    opacity: 0.7;
  }
  .checkbox
  {
    display: flex;
      margin: 10px;
   
      font-size: 15px;
      font-weight: 900;
      color: antiquewhite;
  }
  
  .to_from{
    display: flex;
      width: 20rem;
      padding: 0px 20px;
  }

  .to_from p{
    margin-bottom: 0px;
  }
  .place{
    height: 18rem;
    display: flex;
  }
  .form-group{
    height: 47rem;
  }
  .city{
    margin: 5px 5px;
    padding: 5px 25px;
    font-size: 1em;
    color: wheat;
    line-height: 2;
    /* border: 2px solid skyblue; */
    border-radius: 5px
  } */
  
  .city:hover{
    background-color: #111;
  }
  
  .city select{
    width: 12vw;
    height: 3rem;
    border: 2px solid orange;
    border-radius: 5px;
  }
  .city input{
    width: 12vw;
    height: 3rem;
    border: 2px solid orange;
    border-radius: 5px;
  }

  .search .btn {
    margin-top: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 17px;
    color:orange ;
    border: 0.2rem solid orange;
    border-radius: 5rem;
    cursor: pointer;
    background: none;
    margin-top: -13rem;
    margin-left: 30rem;
    z-index: 2;
   
    
  }
  
  .btn:hover {
    z-index: 2;
    background:orange;
    color: #000;
  opacity: 1;
  }
  

















  